<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>辅修系统>管理员>教学计划维护</title>
    <script type="text/javascript" src="../../static/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="../../static/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="../../static/easyui/locale/easyui-lang-zh_CN.js"></script>
    <link rel="stylesheet" type="text/css" href="../../static/easyui/themes/default/easyui.css"/>
    <link rel="stylesheet" type="text/css" href="../../static/easyui/themes/icon.css"/>
    <style type="text/css">
        /*数据表格单元格的高度*/
        .datagrid-btable tr{height: 50px;}
        /*数据表格标题的字体大小*/
        .datagrid-header span {font-size: 15px !important;}


    </style>
</head>
<body>
<span  style="padding:0px;font-family:宋体 ;font-size:15px" >辅修系统>管理员>教学计划维护</span>
<span  style="padding:0 0 0 60%;font-family:宋体 ;font-size:15px" >当前用户：于老师 0200XX</span></br></br>
<div>
    <select class="easyui-combobox" style="width:150px;height:30px" editable="false">
        <option value="ar">2015级</option>
        <option value="ar">2014级</option>
    </select>
    <select class="easyui-combobox" style="width:150px;height:30px" editable="false">
        <option value="ar">信管</option>
        <option value="ar">造价</option>
    </select>
</div>
</div>
<div id="toolbar" style="padding:5px;height:auto">

    <table border="1px" id = "tt" text-align="center">
        <div style="margin-bottom:5px">
            <a href="#" class="easyui-linkbutton" iconCls="icon-add" onclick="addUser()">修改</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-remove"  onclick="removeUser()">删除</a>
            <a href="#" class="easyui-linkbutton" iconCls="icon-edit"  onclick="addUser()">添加课程</a>
        </div>
        <thead>
        <tr>
            <th data-options="field:'t1'"style="width:15%;">学年</th>
            <th data-options="field:'t2'"style="width:5%;"> 学期</th>
            <th data-options="field:'t3'" style="width:20%;">应修课程</th>
            <th data-options="field:'t4'" style="width:10%;">学分</th>
            <th data-options="field:'t5'" style="width:10%;">学时</th>
            <th data-options="field:'t6'" style="width:20%;">教材</th>
            <th data-options="field:'t7'" style="width:15%;">任课教师</th>
        </tr>
        </thead></table></br>
</div>


<div>
    <a href="#" class="easyui-linkbutton"  onclick="">克隆本计划致</a>
    <select class="easyui-combobox" style="width:300px;height:30px" editable="false">
        <option value="ar">2015级</option>
        <option value="ar">2014级</option>
    </select>
</div>
<div id="dlg" class="easyui-window" title="辅修系统>管理员>增加课程"style="width:550px;height:471px;padding:10px 30px;font-family:宋体 ;font-size:15px"
     closed="true" align="center">
    <form id="fm">
        <div class="fitem" style="margin-bottom:10px">
            开设学年:
            <select class="easyui-combobox" style="width:270px;height:30px" editable="false">
                <option value="ar">2016</option>
                <option value="ar">2015</option>
            </select>
        </div>
        <div class="fitem" style="margin-bottom:10px">
            开设学期:
            <select class="easyui-combobox" style="width:270px;height:30px" editable="false">
                <option value="ar">春季</option>
                <option value="ar">夏季</option>
            </select>
        </div>
        <div class="fitem" style="margin-bottom:10px">
            课程名称:
            <input id="tBox1" required="true" class="easyui-textbox" name="px" type="text" style="width:270px;height:30px" >
        </div>
        <div class="fitem" style="margin-bottom:10px">
            学时:
            <input id="tBox2" required="true" class="easyui-textbox" name="px" type="text" style="width:300px;height:30px" >
        </div>
        <div class="fitem" style="margin-bottom:10px">
            学分:
            <input id="tBox3" required="true" class="easyui-textbox" name="px" type="text" style="width:300px;height:30px" >
        </div>
        <div class="fitem" style="margin-bottom:10px">
            教材:
            <input id="tBox4" required="true" class="easyui-textbox" name="px" type="text" style="width:300px;height:30px" >
        </div>
        <div class="fitem" style="margin-bottom:10px">
            任课教师:
            <input id="tBox5" required="true" class="easyui-textbox" name="px" type="text" style="width:270px;height:30px" >
        </div>
        <div class="fitem" style="margin-bottom:10px">
            教室:
            <input id="tBox6" required="true" class="easyui-textbox" name="px" type="text" style="width:300px;height:30px" >
        </div>
        <div class="fitem" style="margin-bottom:10px">
            时间:
            <input id="tBox7" required="true" class="easyui-textbox" name="px" type="text" style="width:300px;height:30px" >
        </div>
    </form></br>
    <div id="dlg-buttons">
        <a href="#" class="easyui-linkbutton" onclick="saveUser()" style="margin:0px 60px;">提交</a>
        <a href="#" class="easyui-linkbutton" onclick="javascript:$('#dlg').dialog('close')" >取消</a>
    </div>
</div>

</body>
<script>
    $('#tt').datagrid({
        singleSelect: true,
        rowNumbers: "true",//显示行号
        //pagination: "true",//分页
        //remoteSort: false,//对本地数据进行排序
        fitColumns:true,//自适应表格大小
        //collapsible: true, //隐藏按钮
        frozenColumns: [[{ field: "chk", "checkbox": true}]],//单选框
        url:'Tteach',
    });
    function addUser() {
        var row = $('#tt').datagrid("getSelected");
        if(row){
            $.messager.alert("提示","增加一行！","info");
        }
        if(row=!null) {
            $('#dlg').window('open');
            url = "<%=basePath%>update.html&id"+row.id;
        }


    }
    //删除
    function removeUser() {
        var row = $('#tt').datagrid('getSelected');
        if (row==null) {
            alert("请至少选择一行数据!");}
        if(row) {
            $.messager.confirm('提示', '你确定要删除这条信息吗？', function () {
                $('#fm').form('submit', {
                    url: '<%=basePath%>removeUser.html?id=' + row.id,
                    onSubmit: function () {
                    },
                    //判断结果是否正确
                    success: function (msg) {
                        $('#tt').datagrid('reload');
                        //alert('恭喜您，信息删除成功！')
                    },
                    error:function (msg) {
                        alert("更新失败" + msg);
                    }
                });
            });
        }
    }
    function serializeObject(form)
    {
        var o = {};
        var a = $(form).serializeArray();
        $.each(a, function() {
            if (o[this.name]) {
                if (!o[this.name].push) {
                    o[this.name] = [o[this.name]];
                }
                o[this.name].push(this.value || "");
            } else {
                o[this.name] = this.value || "";
            }
        });
        return o;
    };
    function saveUser() {
        var data= serializeObject("#fm");
        if(addUser()){
            $.postJSON2('<%=basePath%>openAdd.html', data)//应用方法传送，写上了URL和传的data
        }
        else
        {
            $.postJSON1('<%=basePath%>update.html', data)
        }

    }
    $.postJSON1 = function(url, data) {
        return jQuery.ajax({
            'type' : 'POST',
            'url' : url,
            'contentType' : 'application/json',
            'data' : JSON.stringify(data),
            'dataType' : 'json',
            success: function (msg) {
                alert("提交成功")
                $('#dlg').dialog('close');
                $('#tt').datagrid('reload');
            },
            error:function (msg) {
                alert("提交失败" + msg);
            }
        });
    };
    $.postJSON2 = function (url, data) {//这个是最为重要的方法之一了
        return jQuery.ajax({//用Ajax的方法来传递
            'type': 'POST',//种类是POST
            'url': url,
            'contentType': 'application/json',
            'data': JSON.stringify(data),
            'dataType': 'json',//数据的种类是JSON
            success: function (msg) {
                alert("添加成功");
                $('#dlg').dialog('close');
                $('#tt').datagrid('reload');//添加成功之后调用
            },
            error: function (msg) {
                alert("添加失败");
            }//添加失败之后调用

        });
    }



</script>
</html>